body{
    margin: 50px;
}
.homePageSection{
    margin: 0 auto;
    width: 400px;
    display:Flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #aaa;
    padding: 5px;
}
th, td, tr{
    border:1px solid black;
    margin: 20px;
    padding: 10px;
}