body{
    margin: 50px;
}
.homePageSection{
    margin: 0 auto;
    width: 420px;
    display:Flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #aaa;
    padding: 10px;
}
th, td{
    border: 1px solid black;
    padding: 15px;
    margin: -10px;
}
.viewpage{
    display:Flex;
    align-items: center;
    flex-direction: column;
}
button{
    margin:20px;
}