    body{
        margin: 100px;
    }
    .homePageSection{
        margin: 0 auto;
        width: 420px;
        display:Flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid #aaa;
        padding: 10px;
    }
    th, td{
        border: 1px solid black;
        padding: 20px;
        margin: -10px;
    }
    table{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button{
        display:flex;
        justify-content: center;
        align-self: center;
        margin:20px;
    }
    h1{
        display:flex;
        justify-content: center;
        align-items: center;
    }