<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
        <a href="{{ url_for('home') }}">Return</a>
        <title>Add Workout</title>
        <h1>Add Workout</h1>
        
        <form method="POST" action="{{ url_for('add_workout') }}">

            <table>
                <tr>
                    <th> <label for="name">Name for workout (Muscles trained): </label> </th>
                    <th> <label for="exercise">Exercise </label> </th>
                    <th> <label for="sets">Sets </label> </th>
                    <th> <label for="reps">Reps </label> </th>
                    <th> <label for="weight">Weight (lbs) </label> </th>
                </tr>
                    <td> <input type="text" name="name" required> </td>
                    <td> <input type="text" name="exercise" required> </td>
                    <td> <input type="number" name="sets" required> </td>
                    <td> <input type="number" name="reps" required></td>
                    <td> <input type="number" name="weight" required> </td>
            </table>
            

            <button type="submit" value="Submit Workout"> Submit workout </button>

            <button type="button" onclick="">Add Another Exercise</button>
        </form>
    </body>
</html>
