<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
        <div class = "homePageSection">
        <h1>Workout Tracker</h1>
        <table>
            <tr>
                <th> Entries</th>
            </tr>
            <tr>
                <td> Something here</td>
                <td>
                    <a href = ""> Delete</a>
                    <br>
                    <a href = ""> Update</a>
                </td>
            </tr>
        </table>
        <button>
            <a href="{{ url_for('add_workout') }}">Add Workout</a>
        </button>
        </div>
    </body>
</html>