<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <title>Tracker</title>
    <body>
        <h1>Workout Tracker</h1>
        <table>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
            </tr>
        </table>
        <br>
        <button>
            <a href="{{ url_for('add_workout') }}">Add Workout</a>
        </button>
    </body>
</html>