<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
        <div class = "homePageSection">
        <h1>Workout Tracker</h1>
        {% if entries|length < 1 %}
        <h3> There are no entries. Add one NOW</h3>
        <a href="{{ url_for('add_workout') }}">Add Workout</a>
        {% else %}
        <!-- Table -->
        <table>
            <tr>
                <th> Workouts </th>
                <th> Date added</th>
                <th> Actions </th>
            </tr>
            <!-- End of top row of homepage-->

            <!-- Creates a loop for each entry and gives each one a new row along with columns for information -->
            {% for things in entries %}
            <!-- Link to viewpage of each entry-->
            <tr>
                <td>
                    <a href="{{ url_for('view_workout', id=things.id) }}"> {{things.name}}  </a>
                </td>
                <!-- Date for each entry-->
                <td>
                    {{things.date_created.strftime('%m/%d/%Y %I:%M:%S %p')}}
                </td>
                <!-- Action buttons-->
                <td>
                    <a href = "/delete/{{things.id}}"> Delete</a>
                    <br>
                    <a href = "/update/{{things.id}}"> Update</a>
                </td>
            {% endfor %}
            </tr>
        </table>
        <!-- New button to return home-->
        <button>
            <a href="{{ url_for('add_workout') }}">Add Workout</a>
        </button>
        </div>
    </body>
    {% endif%}
</html>