<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="viewpage"></div>
    <a href="{{ url_for('home') }}">Return</a>
<table>
    <tr>
        <th> Name </th>
        <th> Exercise </th>
        <th> Sets</th>
        <th> Reps </th>
        <th> Weight (lbs) </th>
        <th> Time created </th>
        <th> Actions</th>
    </tr>
        <td>{{entries.name}} </td>
        <td>{{entries.exercise}} </td>
        <td>{{entries.sets}} </td>
        <td>{{entries.reps}}</td>
        <td>{{entries.weight}}</td>
        <td>{{entries.date_created.strftime('%Y-%m-%d %I:%M:%S %p')}}</td>
        <td> 
            <a href = "/update/{{entries.id}}"> Update</a>
            <br>
            <a href = "/delete/{{entries.id}}"> Delete</a>
        </td>
</table>
</div>
</html>