<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="viewpage"></div>
    <a href="{{ url_for('home') }}">Return</a>
    {% for things in entries %}
<table>
    <tr>
        <th> Exercise </th>
        <th> Sets</th>
        <th> Reps </th>
        <th> Weight (lbs) </th>
        <th> Time created </th>
        <th> Actions</th>
    </tr>
        <td>{{things.exercise}} </td>
        <td>{{things.sets}} </td>
        <td>{{things.reps}}</td>
        <td>{{things.weight}}</td>
        <td>{{things.date_created.strftime('%Y-%m-%d %I:%M:%S %p')}}</td>
        <td> 
            <a href = "/update/{{things.id}}"> Update</a>
            <br>
            <a href = "/delete/{{things.id}}"> Delete</a>
        </td>
</table>
{% endfor %}
</div>
</html>